#card {
    width: 85vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    border: 8px solid #2f2f2f;
    background: var(--white);
    box-shadow: 15px 15px 0px 1px rgba(47, 47, 47, 1);
}
#card h1, #card h2, #card p {
    width: 90%;
}
#card h1 {
    font-size: 1.8rem;
}
@media(prefers-color-scheme: dark) {
    #card {
        color: var(--black);
    }
}
@media(min-width: 1024px) {
#card {
  width: 44.4rem;
  height: 22.2rem;
}
}