.post {
    width: 90vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.post img { 
    width: 100%;
}
.post h3, .post p {
    width: 84vw;
    margin: .3rem 0;
}
@media(min-width: 760px) {.post {width: 300px;} .post h3, .post p {width: 280px;}}
@media(min-width: 1920px) {.post {width: 400px;} .post h3, .post p {width: 370px;}}